<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Movie Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse"  id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/static_about">About</a>
            </li>
        </ul>    
    </div>    
</nav>

<br />
<br />
<br />
<br />
<div class="container">
<h2>Movie Found: <%= @movies.size %></h2>

<% if @movies.empty? %>
  <p class="p_text">There is no record of movie.</p>
<% else %>
  <ul class="list-inline">
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie %></li>
    <% end %>
    <li><a class="nav-link" href="/search">Back to search</li>
  </ul>
<% end %>

</div>